// font import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");
$color-primary: #2682fd;
$color-border: #d2d7ee;
$color-secondary: #ffffff;
$color-tertiary: #aeb0b0;
$color-tertiary-font: #f8f8f8;
$color-quarternary: #1d2761;
$color-bg: #d4e6ff;
$color-light: #3d5991;
$color-gray: #97a5c1;
$color-dark-light: #4266e5;
$font-primary: "Montserrat", sans-serif;
